@mixin clear {
	&:before,
	&:after {
		display: table;
		content: "";
		line-height: 0;
	}
	&:after {
		clear: both;
	}
}

* {
	box-sizing: border-box;
	&:before,
	&:after {
		box-sizing: border-box;
	}
}

body {
	font-size: 16px;
	background-color: lightgrey;
	font-family: $helvetica;
}

img {
	max-width: 100%;
	border: 0;
	height: auto;
	vertical-align: middle;
}

.o-c {
	margin-right: auto;
	margin-left: auto;
	max-width: 58em;
	padding: 1em;
}

// Images
$landscape-2-3: 2/3;
$landscape-4-6: 4/6;
$widescreen-16-9: 9/16;

// Cards
$card-height: 23em;
$card-aspect-ratio: $landscape-2-3;
// $card-aspect-ratio: $widescreen-16-9;
$cards-per-row: 2;
$cards-per-row-break: 1;

// .c-crd
.c-crd {
	// .c-crds
	&s {
		margin-left: -1em;
		@include clear;
	}
	
	float: left;
	display: inline-block;
	padding-left: 1em;
	padding-bottom: 1em;
	font-size: 16px;
	line-height: (16px * 1.5);
	// width: (100% / $cards-per-row-break);
	
	@media screen and (min-width: 38em) {
		width: (100% / $cards-per-row);
	}
	
	// a.c-crd
	@at-root a#{&} {
		color: black;
		text-decoration: none;
	}
	
	// .c-crd__wrap
	&__wrap {
		overflow: hidden;
		border-radius: 0.5em;
		background-color: white;
		box-shadow: -5px 5px 5px rgba(0,0,0,0.05);
		
		@media screen and (min-width: 38em) {
			height: $card-height;
		}
	}
	
	// .c-crd__img
	&__img {
		position: relative;
		padding-top: (100% * ($card-aspect-ratio));		
		display: block;
		overflow: hidden;

		img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			
			object-fit: cover;
			width: 100%;
			height: 100%;
			
			// IE9
			@media screen and (min-width:0\0) {
				height: auto;
			}
			// IE10 ≥
			_:-ms-input-placeholder &,
			:root & {
				height: auto;
			}
		}
	}
	
	// .c-crd__btm
	&__btm {
		padding: 1em;
	}
}
